h1 {
    color: green;
    font-style: italic;
  }

li {
    color: rgb(75, 73, 73);
    padding-top: 3px;
    font-size: 15px;
}

.confirm {
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }